{{- $default := site.Sites.Default.GetPage "download/releases" -}}
{{- $releases := site.GetPage "download/releases" | default $default -}}

{{- $page := cond ($releases.InSection .) . (index ($releases.RegularPages | default $default.RegularPages) 0) -}}

{{- $release := $page.Params -}}
{{- $platforms := site.Params.platforms -}}

<div class="download-box">
  {{- range $platform := $platforms -}}
    <div class="card" id="{{ $platform.id }}" style="order: {{ $platform.order }};">

      <span popover id="{{ $platform.id }}-arch"></span>
      <button class="card-icon"
        type="button"
        popovertarget="{{ $platform.id }}-arch"
        title="{{ $platform.label }}">
        {{- partial "utils/icon.html" $platform.id -}}
        <br>
        <span>{{- $platform.label -}}</span>
      </button>

      {{- range $download := $platform.downloads -}}
        {{- with index $release (printf "%s_%s" $platform.id $download.key) -}}
          <a class="card-icon app-build"
            href="{{ . }}"
            data-url="{{ . }}"
            aria-label="{{ $download.label }}"
            title="{{ $download.label }}"
            target="_blank"
            rel="noopener noreferrer">
            {{- partial "utils/icon.html" $download.key -}}
            <br>
            <span>{{- $platform.label -}}</span>
          </a>
        {{- end -}}
      {{- end -}}

    </div>
  {{- end -}}
</div>

<h4 class="description">
  {{- printf "%s %s · %s"
    (i18n "download" | default "Download")
    $page.Params.versions
    ($page.Lastmod | time.Format ":date_long")
  -}}
</h4>

{{- $thanks := site.GetPage "thanks" | default (site.Sites.Default.GetPage "thanks") -}}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.app-build').forEach(function(link) {
      link.addEventListener('click', function(event) {
        event.preventDefault();

        const fileUrl = link.dataset.url || link.href;
        window.open(fileUrl, '_blank');

        const thanksUrl = "{{ $thanks.RelPermalink }}";
        setTimeout(function() {
          window.location.href = thanksUrl;
        }, 1000);
      });
    });
  });
</script>