{{- /* Sponsors list:

  - Get Sponsors data from JSON file.
  - Display Sponsors data grouped by tiers.
*/ -}}


{{- $sponsors := slice -}}
{{- range site.Data.sponsors_list -}}
  {{- if and (ne .label nil) (ne .startDate nil) (eq .status "active") -}}
    {{- $sponsors = $sponsors | append . -}}
  {{- end -}}
{{- end -}}

{{- $tiers := slice "corporate" "gold" "silver" "bronze" -}}

{{- with $sponsors -}}
  <div class="sponsors">
    <h2 class="sponsors-title">{{ i18n "sponsors_list" | default "Current Sponsors" }}</h2>

    {{- range $tier := $tiers -}}
      {{- $tierSponsors := where $sponsors "tier" $tier -}}
      {{- with $tierSponsors -}}
        <h3>{{ $tier | title }}</h3>
        <div class="sponsors-tier">

          {{- range $sponsor := sort . "label" -}}
            {{- with $sponsor.link }}
              <a href="{{ . }}" target="_blank">
            {{- end -}}

              <article class="sponsor-entry {{ $tier }}" title="{{- printf "%s %s" $sponsor.label (default "" $sponsor.description) -}}">
                {{- if or (eq $tier "corporate") (eq $tier "gold") -}}
                  {{- with $sponsor.logo -}}
                    {{- $logoPath := print "sponsors/" . -}}
                    {{- with resources.Get $logoPath -}}
                      {{- if eq .MediaType.SubType "svg" -}}
                        {{- $svg := . | resources.Minify -}}
                        {{- $svg.Content | safeHTML -}}
                      {{- else -}}
                        <img class="sponsor-logo"
                          src="{{ .RelPermalink }}"
                          alt="{{ $sponsor.label }} logo"/>
                      {{- end -}}
                    {{- end -}}
                  {{- else -}}
                    <h3>{{ $sponsor.label }}</h3>
                  {{- end -}}

                {{- else if eq $tier "silver" -}}
                  <strong>{{ $sponsor.label }}</strong>

                {{- else -}}
                  {{ $sponsor.label }}
                {{- end -}}
              </article>

            {{- with $sponsor.link -}}
              </a>
            {{- end -}}
          {{- end -}}

        </div>
      {{- end -}}
    {{- end -}}

  </div>
{{- end -}}
