{{- define "main" }}

<section class="archives">

<header class="archives-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="archives-description">
    <span>{{ .Description }}</span>
  </div>
  {{- end }}
</header>

{{/* get pages from the current page's section */}}
{{/* in this way, archives.html could be used for section archives other than the only one archives of the whole site */}}
{{- $sections := site.Params.mainSections }}
{{- if .Section }}
  {{- $sections = slice .Section }}
{{- end }}
{{- $pages := where site.RegularPages "Section" "in" $sections }}

{{- range $pages.GroupByPublishDate "2006" }}
{{- if ne .Key "0001" }}
<div class="archive-year">
  <h2 class="archive-year-header">
    {{- replace .Key "0001" "" }}<sup class="archive-count">&nbsp;&nbsp;{{ len .Pages }}</sup>
  </h2>
  {{- range .Pages.GroupByDate "January" }}
  <div class="archive-month">
    <h3 class="archive-month-header">{{- .Key }}<sup class="archive-count">&nbsp;&nbsp;{{ len .Pages }}</sup></h3>
    <div class="archive-month-list">
      {{- range .Pages }}
      <div class="archive-entry">
        <a href="{{ .Permalink }}" alt="ARTICLE" aria-label="Link to {{ .Title | plainify }} article" title="Link to {{ .Title | plainify }} article">
          <h3 class="archive-entry-title">
          {{- .Title | $.Page.RenderString }}
          {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
          </h3>
        </a>
        <div class="archive-meta">
          {{- partial "meta.html" . -}}
        </div>
      </div>
      {{- end }}
    </div>
  </div>
  {{- end }}
</div>
{{- end }}
{{- end }}

</section>

{{- end }}{{/* end main */}}
