<details title="Click to display info" style="text-align: center; border: 4px solid crimson; width: 20rem; margin:auto; color: crimson; font-size: small; line-height: 0.75rem;">
    <summary style="list-style: none;"><h2 style="color: crimson;">DEBUG INFOS</h2></summary>
    <p>Type is <b>{{ .Type }}</b></p>
    <p>Section is <b>{{ .Section }}</b></p>
    <p>Kind is <b>{{ .Kind }}</b></p>
    <p>BundleType is <b>{{ .BundleType }}</b></p>
    <p>Layout is <b>{{ .Layout }}</b></p>
    <p>Path is <b>{{ .Path }}</b></p>
    <p>RelPermalink is <b>{{ .RelPermalink }}</b></p>
    <p>Slug is <b>{{ .Slug }}</b></p>
</details>