<div class="download-box">
    {{- if .Params.release }}
    <p><a class="release" href="{{ .RelPermalink }}" alt="{{ upper site.Title }} {{ .Params.release }} RELEASE"
        aria-label="{{ site.Title }} {{ .Params.release }} {{- i18n "release_notes" | default "Release Notes" }}">
        {{ site.Title }} {{ .Params.release }} {{ i18n "release_notes" | default "Release Notes" }}</a></p>
    {{ else }}
        {{ print "var is falsy" }}
    {{- end }}
    {{- with .Date }}
    <p><time datetime="{{ . }}" class="date">{{ . | time.Format ":date_full" }}</time></p>
    {{ else }}
        {{ print "var is falsy" }}
    {{- end }}
    <div class="download">
        {{- with .Params.windows }}
        <div id="windows" style="order: 1;">
            <a href="{{ . }}" alt="WINDOWS" aria-label="Windows" title="Windows" download>
                {{ safeHTML (index site.Data.svg "windows") }}
            </a>
        </div>
        {{ else }}
            {{ print "var is falsy" }}
        {{- end }}
        {{- with .Params.macos }}
        <div id="mac" style="order: 2;">
            <a href="{{ . }}" alt="MACOS" aria-label="macOS" title="macOS" download>
                {{ safeHTML (index site.Data.svg "macos") }}
            </a>
        </div>
        {{ else }}
            {{ print "var is falsy" }}
        {{- end }}
        {{- with .Params.linux }}
        <div id="linux" style="order: 3;">
            <a href="{{ . }}" alt="GNU/LINUX" aria-label="GNU/Linux" title="GNU/Linux" download>
                {{ safeHTML (index site.Data.svg "linux") }}
            </a>
        </div>
        {{ else }}
            {{ print "var is falsy" }}
        {{- end }}
    </div>
</div>