<div class="download-box">
    {{- if .Params.release }}
    <p><a class="release" href="{{ .RelPermalink }}" alt="FREECAD {{ .Params.release }} RELEASE" aria-label="FreeCAD {{ .Params.release }} release notes" title="FreeCAD {{ .Params.release }} release notes">FreeCAD {{ .Params.release }} Release</a></p>
    {{ else }}
        {{ print "var is falsy" }}
    {{- end }}
    {{- with .Date }}
    <p><time datetime="{{ . }}" class="date">{{ . | time.Format ":date_full" }}</time></p>
    {{ else }}
        {{ print "var is falsy" }}
    {{- end }}
    <div class="download">
        {{- with .Params.windows }}
        <div id="windows" style="order: 1;">
            <a href="{{ . }}" alt="WINDOWS" aria-label="Download the Windows version" title="Download the Windows version" download>
                {{ safeHTML (index site.Data.svg "windows") }}
            </a>
        </div>
        {{ else }}
            {{ print "var is falsy" }}
        {{- end }}
        {{- with .Params.macos }}
        <div id="mac" style="order: 2;">
            <a href="{{ . }}" alt="MACOS" aria-label="Download the macOS version" title="Download the macOS version" download>
                {{ safeHTML (index site.Data.svg "macos") }}
            </a>
        </div>
        {{ else }}
            {{ print "var is falsy" }}
        {{- end }}
        {{- with .Params.linux }}
        <div id="linux" style="order: 3;">
            <a href="{{ . }}" alt="GNU/LINUX" aria-label="Download the GNU/Linux version" title="Download the GNU/Linux version" download>
                {{ safeHTML (index site.Data.svg "linux") }}
            </a>
        </div>
        {{ else }}
            {{ print "var is falsy" }}
        {{- end }}
    </div>
</div>