{{/* get the latest article with the "hero" parameters in front matter */}}
{{ with (index (where (site.RegularPages | lang.Merge .Sites.Default.RegularPages) "Params.hero" true) 0) }}
<header class="hero-header">
    <h1 class="hero-title">
        <a class="hero" href="{{ .RelPermalink }}">{{ .LinkTitle | .RenderString }}</a>
    </h1>
    {{- with .Description }}
        <div class="hero-description">
            <span class="description">{{ . | $.Page.RenderString }}</span>
        </div>
    {{- end }}
    {{- if .Params.link }}
    <div class="hero-button">
        <a href="{{ .Params.link | relLangURL }}">{{ .Params.text | .RenderString }}</a>
    </div>
    {{- end }}
    {{- partial "cover.html" . }}
</header>
{{ end }}
