{{/* get the latest article with the "hero" parameters in front matter */}}
{{ with (index (where (site.RegularPages | lang.Merge .Sites.Default.RegularPages) "Params.hero" true) 0) }}
<header class="hero-header">
    <h1 class="title">
        {{ .LinkTitle | .RenderString }}
    </h1>
    {{- with .Description }}
        <h2 class="description">
            {{ . | $.Page.RenderString }}
        </h2>
    {{- end }}
    <div class="buttons">
    {{- if .Params.links.download }}
    {{ $download := .Site.GetPage "download" }}
    <p class="hero-button download">
        <a href="{{ $download.RelPermalink }}">{{ $download.LinkTitle | .RenderString }}</a>
    </p>
    {{- end }}
    {{- if .Params.links.custom }}
    <p class="hero-button custom">
        <a href="{{ .Params.links.custom | relLangURL }}">
        {{- with .Params.links.customText }}
            {{ . | $.Page.RenderString }}
        {{- else }}
            {{ .Params.links.custom.LinkTitle | .RenderString }}
        {{- end }}</a>
    </p>
    {{- end }}
    {{- if .Params.links.article }}
    <p class="hero-button article">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle | .RenderString }}</a>
    </p>
    {{- end }}
    </div>
    {{- partial "cover.html" . }}
</header>
{{ end }}
