{{- /* Custom rendering for images and videos:

  - Support local or remote resources.
  - Resize local images and builds responsive set.
  - Add popover lightbox.

  @returns {template.HTML}

  @examples

    ![caption](path/to/image.jpg "image description")

*/ -}}

{{- $processableFormats := site.Params.processableFormats | default (slice "jpeg" "jpg" "png" "webp" "gif") -}}
{{- $format := site.Params.resizeFormat | default "webp" -}}
{{- $resizeDimensions := site.Params.resizeDimensions.cover | default (slice "500x250" "1000x500") -}}
{{- $zoom := i18n "zoom" | default "Zoom image" -}}
{{- $close := i18n "close" | default "Close image viewer" -}}
{{- $video_fallback := i18n "video_fallback" | default "Your browser does not support the video tag." -}}

{{- .Page.Store.Add "imageCounter" 1 -}}
{{- $id := printf "img-%03d" (.Page.Store.Get "imageCounter") -}}
{{- $alt := i18n "image_fallback" | default "Image" -}}
{{- $title := or .Title .PlainText .Text | plainify -}}
{{- $url := urls.Parse .Destination -}}

{{- if $url.Scheme -}}
  {{- /* Remote image. */ -}}
  {{- with try (resources.GetRemote .Destination) -}}
    {{- with .Err -}}
      {{- errorf "%s" . -}}
    {{- else with .Value -}}
      <figure>
        <img src="{{ .RelPermalink | safeURL }}"
          title="{{ $title }}"
          alt="{{ $alt }}"
          loading="lazy"
          fetchpriority="low">
        {{- with $title -}}
          <figcaption>
            {{- . -}}
          </figcaption>
        {{- end -}}
      </figure>
    {{- else -}}
      {{- errorf "Unable to get remote resource %q" .Destination -}}
    {{- end -}}
  {{- end -}}

{{- else -}}
  {{- /* Local (bundled/static) image or video. */ -}}
  {{- $img := .Page.Resources.GetMatch .Destination | default (resources.Get .Destination) -}}

  {{- if not $img -}}
    {{- warnf "No resource found for %q in page %q" .Destination .Page.File -}}

  {{- else if eq $img.MediaType.MainType "video" -}}
    <figure>
      <video preload="metadata"
        controls>
        <source src="{{ $img.RelPermalink | safeURL }}">
        {{- $video_fallback -}}
      </video>
    </figure>

  {{- else if not (in $processableFormats $img.MediaType.SubType) -}}
    {{- /* Non-processable and non-resizable formats (e.g. SVG, AVIF, TIFF, BMP, ICO). */ -}}
      <figure>
        <img src="{{ $img.RelPermalink | safeURL }}"
          title="{{ $title }}"
          alt="{{ $alt }}"
          loading="lazy"
          fetchpriority="low">
        {{- with $title -}}
          <figcaption>{{- . -}}</figcaption>
        {{- end -}}
      </figure>

  {{- else -}}
    {{- /* Responsive image with popover. */ -}}
    {{- $srcset := slice -}}
    {{- $sizes := slice -}}

    {{- range $resizeDimensions -}}
      {{- $width := int (index (split . "x") 0) -}}
      {{- if lt $width $img.Width -}}
        {{- $resized := $img.Resize (printf "%dx %s" $width $format) -}}
        {{- $srcset = $srcset | append (printf "%s %dw" ($resized.RelPermalink | safeURL) $width) -}}
        {{- $sizes = $sizes | append (printf "(max-width: %dpx) %dpx" $width $width) -}}
      {{- end -}}
    {{- end -}}

    {{- $srcset = $srcset | append (printf "%s %dw" ($img.RelPermalink | safeURL) $img.Width) -}}
    {{- $sizes := $sizes | append "75vw" -}}

    <div class="image-with-popover">
      <figure>
        <button aria-label="{{ $zoom }}" {{ if site.Params.imagePopover }}popovertarget="{{ $id }}"{{ end }}>
          <img srcset="{{ delimit $srcset ", " }}"
            sizes="{{ delimit $sizes ", " }}"
            src="{{ $img.RelPermalink | safeURL }}"
            width="{{ $img.Width }}"
            height="{{ $img.Height }}"
            title="{{ $title }}"
            alt="{{ $alt }}"
            loading="lazy"
            fetchpriority="low">
        </button>
        {{- with $title -}}
          <figcaption>{{- . -}}</figcaption>
        {{- end -}}
      </figure>

      {{- if site.Params.imagePopover -}}
        <div id="{{ $id }}" popover>
          <img src="{{ $img.RelPermalink | safeURL }}"
            title="{{ $title }}"
            alt="{{ $alt }}"
            loading="lazy"
            fetchpriority="low">
          <button class="close"
            popovertarget="{{ $id }}"
            popovertargetaction="hide"
            aria-label="{{ $close }}">
            {{- partial "utils/icon.html" "cross" -}}
          </button>
        </div>
      {{- end -}}
    </div>
  {{- end -}}
{{- end -}}
