{{- /* Article card image:

  - Get article card image from front-matter
  - Fallback to category or section cover image if missing.
  - Resize supported images.
*/ -}}

{{- $cover := false -}}
{{- $alt := i18n "image_fallback" | default "Image" -}}

{{- $processableFormats := site.Params.processableFormats | default (slice "jpeg" "jpg" "png" "webp" "gif") -}}
{{- $resizeFormat := site.Params.resizeFormat | default "webp" -}}

{{- $hero := index (where (site.RegularPages | lang.Merge site.Sites.Default.RegularPages) "Params.hero" "!=" nil) 0 -}}
{{- $page := cond .IsHome $hero . -}}

{{- with $page.Params.cover.image -}}
  {{- $cover = ($page.Resources.ByType "image").GetMatch (printf "*%s*" .) -}}
{{- end -}}

{{- /* Cover fallbacks. */ -}}
{{- if not $cover -}}
  {{- $section := site.GetPage (printf "/%s" .Section) | default (site.Sites.Default.GetPage (printf "/%s" .Section)) -}}
  {{- $category := lower .Params.categories -}}

  {{- /* Section cover fallback. */ -}}
  {{- if not $cover -}}
    {{- $cover = ($section.Resources.ByType "image").GetMatch (printf "*%s*" $section.Params.cover.image) -}}
    {{- $page = $section -}}
  {{- end -}}
{{- end -}}

{{- with $cover -}}

  {{- $loading := "lazy" -}}
  {{- $priority := "low" -}}
  {{- $resizeDims := site.Params.resizeDimensions.card | default (slice "500x250") -}}
  {{- $anchor := $page.Params.cover.anchor | default "Smart" | plainify -}}

  <figure class="card-cover">

    {{- /* Cover image is present in page bundle. */ -}}
    {{- if in $processableFormats .MediaType.SubType -}}

      {{- $srcset := slice -}}
      {{- $sizes := slice -}}

      {{- range $dim := $resizeDims -}}
        {{- $width := int (index (split $dim "x") 0) -}}
        {{- if lt $width $cover.Width -}}
          {{- $resized := $cover.Fill (printf "%s %s %s" $dim $anchor $resizeFormat) -}}
          {{- $srcset = $srcset | append (printf "%s %dw" $resized.RelPermalink $width) -}}
          {{- $sizes = $sizes | append (printf "%dpx" $width) -}}
        {{- end -}}
      {{- end -}}

      {{- $srcset = $srcset | append (printf "%s %dw" .RelPermalink .Width) -}}

      <img srcset="{{ delimit $srcset ", " }}"
        sizes="{{ delimit $sizes ", " }}"
        src="{{ .RelPermalink }}"
        alt="{{ $alt }}"
        width="{{ .Width }}"
        height="{{ .Height }}"
        loading="{{ $loading }}"
        fetchpriority="{{ $priority }}">

    {{- /* Unprocessable image, absolute urls and external links (no img processing). */ -}}
    {{- else -}}
      <img src="{{ with .RelPermalink }}{{ . }}{{ else }}{{ . | absURL }}{{ end }}"
        alt="{{ $alt }}"
        loading="{{ $loading }}"
        fetchpriority="{{ $priority }}">
    {{- end -}}

  </figure>
{{- end -}}