
{{- $pages := .pages -}}
{{- $paginator := "" -}}

{{- with .context -}}
  {{- $paginator = .Paginate $pages (.Param "paginate" | default 12) -}}

  {{- with $paginator.Pages -}}
    {{- partial "main/cards.html" . -}}
  {{- end -}}

  {{- if gt $paginator.TotalPages 1 -}}
    <footer class="list-footer">
      <nav class="pagination">
        {{- if $paginator.HasPrev -}}
          <a class="prev"
            href="{{ $paginator.Prev.URL }}"
            aria-label="{{ i18n "prev_page" | default "Prev Page" }}"
            title="{{ i18n "prev_page" | default "Prev Page" }}">
            ◀ {{ i18n "prev_page" | default "Prev Page" }}
          </a>
        {{- end -}}

        <p class="page-number">{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}</p>

        {{- if $paginator.HasNext -}}
          <a class="next"
            href="{{ $paginator.Next.URL }}"
            aria-label="{{ i18n "next_page" | default "Next Page" }}"
            title="{{ i18n "next_page" | default "Next Page" }}">
            {{ i18n "next_page" | default "Next Page" }} ▶
          </a>
        {{- end -}}
      </nav>
    </footer>
  {{- end -}}

{{- end -}}