/* This CSS stylesheet defines the style of archive pages */


.archives {
    margin: auto;
    padding: var(--gap) var(--side);
}

.archive-year {
    font-size: var(--l);
    margin-top: var(--gap);
}

.archive-year:not(:last-of-type) {
    border-bottom: var(--border);
}

.archive-month {
    padding: 0;
    display: flex;
    align-items: flex-start;
    font-size: var(--l);
}

.archive-month-header {
    margin: var(--gap) auto;
    width: calc(var(--width) / 4);
}

.archive-month:not(:last-of-type) {
    border-bottom: var(--border);
}

.archive-month-list {
    width: 100%;
    font-size: var(--m);
}

.archive-entry {
    position: relative;
    margin: 0 auto var(--gap);
    padding: 0;
}

.archive-entry-title {
    font-weight: 500;
}

.archive-entry-title:hover {
    color: var(--link-hover-color);
}

.archive-count,
.archive-meta {
    color: var(--secondary);
    font-size: var(--s);
}
