/* This CSS stylesheet defines the style of the site footer */


.site-footer {
    background: var(--bg);
    min-height: var(--footer-height);
    margin: auto;
    padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    font-size: var(--s);
    color: var(--tertiary);
    text-align: center;
}

.site-footer span {
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}

.site-footer span:last-child {
    white-space: nowrap;
}

.site-footer a {
    font-weight: 500;
    color: var(--link-color);
}

.site-footer a:hover {
    color: var(--link-hover-color);
}

/* InstantClick css */
#instantclick-bar {
    background: var(--entry);
}

/* make zoom overlay and image higher */
.medium-zoom-overlay {
    z-index: 10;
}
.medium-zoom-image--opened {
    z-index: 10;
}
