/* This CSS stylesheet defines the style of the text in code blocks. For the code block itself and inline code, go to single.css */


/* For Light chroma, see the first half below, for Dark chroma, go to the second half far-below */


/* Background */
.chroma {
    background-color: var(--entry);
}

/* Error */
.chroma .err {
    color: #a61717;
    background-color: var(--theme);
}

/* LineTableTD */
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineTable */
.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block;
}

/* LineHighlight */
.chroma .hl {
    display: block;
    width: 100%;
    background-color: #ffc;
}

/* LineNumbersTable */
.chroma .lnt {
    margin-inline-end: 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
    color: #7f7f7f;
}

/* LineNumbers */
.chroma .ln {
    margin-inline-end: 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
    color: #7f7f7f;
}

/* Keyword */
.chroma .k {
    color: #000;
    font-weight: bold;
}

/* KeywordConstant */
.chroma .kc {
    color: #000;
    font-weight: bold;
}

/* KeywordDeclaration */
.chroma .kd {
    color: #000;
    font-weight: bold;
}

/* KeywordNamespace */
.chroma .kn {
    color: #000;
    font-weight: bold;
}

/* KeywordPseudo */
.chroma .kp {
    color: #000;
    font-weight: bold;
}

/* KeywordReserved */
.chroma .kr {
    color: #000;
    font-weight: bold;
}

/* KeywordType */
.chroma .kt {
    color: #458;
    font-weight: bold;
}

/* NameAttribute */
.chroma .na {
    color: #008080;
}

/* NameBuiltin */
.chroma .nb {
    color: #0086b3;
}

/* NameBuiltinPseudo */
.chroma .bp {
    color: #999;
}

/* NameClass */
.chroma .nc {
    color: #458;
    font-weight: bold;
}

/* NameConstant */
.chroma .no {
    color: #008080;
}

/* NameDecorator */
.chroma .nd {
    color: #3c5d5d;
    font-weight: bold;
}

/* NameEntity */
.chroma .ni {
    color: #800080;
}

/* NameException */
.chroma .ne {
    color: #900;
    font-weight: bold;
}

/* NameFunction */
.chroma .nf {
    color: #900;
    font-weight: bold;
}

/* NameLabel */
.chroma .nl {
    color: #900;
    font-weight: bold;
}

/* NameNamespace */
.chroma .nn {
    color: #555;
}

/* NameTag */
.chroma .nt {
    color: #000080;
}

/* NameVariable */
.chroma .nv {
    color: #008080;
}

/* NameVariableClass */
.chroma .vc {
    color: #008080;
}

/* NameVariableGlobal */
.chroma .vg {
    color: #008080;
}

/* NameVariableInstance */
.chroma .vi {
    color: #008080;
}

/* LiteralString */
.chroma .s {
    color: #d14;
}

/* LiteralStringAffix */
.chroma .sa {
    color: #d14;
}

/* LiteralStringBacktick */
.chroma .sb {
    color: #d14;
}

/* LiteralStringChar */
.chroma .sc {
    color: #d14;
}

/* LiteralStringDelimiter */
.chroma .dl {
    color: #d14;
}

/* LiteralStringDoc */
.chroma .sd {
    color: #d14;
}

/* LiteralStringDouble */
.chroma .s2 {
    color: #d14;
}

/* LiteralStringEscape */
.chroma .se {
    color: #d14;
}

/* LiteralStringHeredoc */
.chroma .sh {
    color: #d14;
}

/* LiteralStringInterpol */
.chroma .si {
    color: #d14;
}

/* LiteralStringOther */
.chroma .sx {
    color: #d14;
}

/* LiteralStringRegex */
.chroma .sr {
    color: #009926;
}

/* LiteralStringSingle */
.chroma .s1 {
    color: #d14;
}

/* LiteralStringSymbol */
.chroma .ss {
    color: #990073;
}

/* LiteralNumber */
.chroma .m {
    color: #099;
}

/* LiteralNumberBin */
.chroma .mb {
    color: #099;
}

/* LiteralNumberFloat */
.chroma .mf {
    color: #099;
}

/* LiteralNumberHex */
.chroma .mh {
    color: #099;
}

/* LiteralNumberInteger */
.chroma .mi {
    color: #099;
}

/* LiteralNumberIntegerLong */
.chroma .il {
    color: #099;
}

/* LiteralNumberOct */
.chroma .mo {
    color: #099;
}

/* Operator */
.chroma .o {
    color: #000;
    font-weight: bold;
}

/* OperatorWord */
.chroma .ow {
    color: #000;
    font-weight: bold;
}

/* Comment */
.chroma .c {
    color: #998;
    font-style: italic;
}

/* CommentHashbang */
.chroma .ch {
    color: #998;
    font-style: italic;
}

/* CommentMultiline */
.chroma .cm {
    color: #998;
    font-style: italic;
}

/* CommentSingle */
.chroma .c1 {
    color: #998;
    font-style: italic;
}

/* CommentSpecial */
.chroma .cs {
    color: #999;
    font-weight: bold;
    font-style: italic;
}

/* CommentPreproc */
.chroma .cp {
    color: #999;
    font-weight: bold;
    font-style: italic;
}

/* CommentPreprocFile */
.chroma .cpf {
    color: #999;
    font-weight: bold;
    font-style: italic;
}

/* GenericDeleted */
.chroma .gd {
    color: #000;
    background-color: #fdd;
}

/* GenericEmph */
.chroma .ge {
    color: #000;
    font-style: italic;
}

/* GenericError */
.chroma .gr {
    color: #a00;
}

/* GenericHeading */
.chroma .gh {
    color: #999;
}

/* GenericInserted */
.chroma .gi {
    color: #000;
    background-color: #dfd;
}

/* GenericOutput */
.chroma .go {
    color: #888;
}

/* GenericPrompt */
.chroma .gp {
    color: #555;
}

/* GenericStrong */
.chroma .gs {
    font-weight: bold;
}

/* GenericSubheading */
.chroma .gu {
    color: #aaa;
}

/* GenericTraceback */
.chroma .gt {
    color: #a00;
}

/* GenericUnderline */
.chroma .gl {
    text-decoration: underline;
}

/* TextWhitespace */
.chroma .w {
    color: #bbb;
}


/* For Dark chroma, see the second half below, for Light chroma, go to the first half above */


/* Background */
.dark .chroma {
    color: #f8f8f2;
    background-color: #282a36;
}

/* LineTableTD */
.dark .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineTable */
.dark .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block;
}

/* LineHighlight */
.dark .chroma .hl {
    display: block;
    width: 100%;
    background-color: #ffc;
}

/* LineNumbersTable */
.dark .chroma .lnt {
    margin-inline-end: 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
    color: #7f7f7f;
}

/* LineNumbers */
.dark .chroma .ln {
    margin-inline-end: 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
    color: #7f7f7f;
}

/* Keyword */
.dark .chroma .k {
    color: #ff79c6;
}

/* KeywordConstant */
.dark .chroma .kc {
    color: #ff79c6;
}

/* KeywordDeclaration */
.dark .chroma .kd {
    color: #8be9fd;
    font-style: italic;
}

/* KeywordNamespace */
.dark .chroma .kn {
    color: #ff79c6;
}

/* KeywordPseudo */
.dark .chroma .kp {
    color: #ff79c6;
}

/* KeywordReserved */
.dark .chroma .kr {
    color: #ff79c6;
}

/* KeywordType */
.dark .chroma .kt {
    color: #8be9fd;
}

/* NameAttribute */
.dark .chroma .na {
    color: #50fa7b;
}

/* NameBuiltin */
.dark .chroma .nb {
    color: #8be9fd;
    font-style: italic;
}

/* NameClass */
.dark .chroma .nc {
    color: #50fa7b;
}

/* NameFunction */
.dark .chroma .nf {
    color: #50fa7b;
}

/* NameLabel */
.dark .chroma .nl {
    color: #8be9fd;
    font-style: italic;
}

/* NameTag */
.dark .chroma .nt {
    color: #ff79c6;
}

/* NameVariable */
.dark .chroma .nv {
    color: #8be9fd;
    font-style: italic;
}

/* NameVariableClass */
.dark .chroma .vc {
    color: #8be9fd;
    font-style: italic;
}

/* NameVariableGlobal */
.dark .chroma .vg {
    color: #8be9fd;
    font-style: italic;
}

/* NameVariableInstance */
.dark .chroma .vi {
    color: #8be9fd;
    font-style: italic;
}

/* LiteralString */
.dark .chroma .s {
    color: #f1fa8c;
}

/* LiteralStringAffix */
.dark .chroma .sa {
    color: #f1fa8c;
}

/* LiteralStringBacktick */
.dark .chroma .sb {
    color: #f1fa8c;
}

/* LiteralStringChar */
.dark .chroma .sc {
    color: #f1fa8c;
}

/* LiteralStringDelimiter */
.dark .chroma .dl {
    color: #f1fa8c;
}

/* LiteralStringDoc */
.dark .chroma .sd {
    color: #f1fa8c;
}

/* LiteralStringDouble */
.dark .chroma .s2 {
    color: #f1fa8c;
}

/* LiteralStringEscape */
.dark .chroma .se {
    color: #f1fa8c;
}

/* LiteralStringHeredoc */
.dark .chroma .sh {
    color: #f1fa8c;
}

/* LiteralStringInterpol */
.dark .chroma .si {
    color: #f1fa8c;
}

/* LiteralStringOther */
.dark .chroma .sx {
    color: #f1fa8c;
}

/* LiteralStringRegex */
.dark .chroma .sr {
    color: #f1fa8c;
}

/* LiteralStringSingle */
.dark .chroma .s1 {
    color: #f1fa8c;
}

/* LiteralStringSymbol */
.dark .chroma .ss {
    color: #f1fa8c;
}

/* LiteralNumber */
.dark .chroma .m {
    color: #bd93f9;
}

/* LiteralNumberBin */
.dark .chroma .mb {
    color: #bd93f9;
}

/* LiteralNumberFloat */
.dark .chroma .mf {
    color: #bd93f9;
}

/* LiteralNumberHex */
.dark .chroma .mh {
    color: #bd93f9;
}

/* LiteralNumberInteger */
.dark .chroma .mi {
    color: #bd93f9;
}

/* LiteralNumberIntegerLong */
.dark .chroma .il {
    color: #bd93f9;
}

/* LiteralNumberOct */
.dark .chroma .mo {
    color: #bd93f9;
}

/* Operator */
.dark .chroma .o {
    color: #ff79c6;
}

/* OperatorWord */
.dark .chroma .ow {
    color: #ff79c6;
}

/* Comment */
.dark .chroma .c {
    color: #6272a4;
}

/* CommentHashbang */
.dark .chroma .ch {
    color: #6272a4;
}

/* CommentMultiline */
.dark .chroma .cm {
    color: #6272a4;
}

/* CommentSingle */
.dark .chroma .c1 {
    color: #6272a4;
}

/* CommentSpecial */
.dark .chroma .cs {
    color: #6272a4;
}

/* CommentPreproc */
.dark .chroma .cp {
    color: #ff79c6;
}

/* CommentPreprocFile */
.dark .chroma .cpf {
    color: #ff79c6;
}

/* GenericDeleted */
.dark .chroma .gd {
    color: #f55;
}

/* GenericEmph */
.dark .chroma .ge {
    text-decoration: underline;
}

/* GenericHeading */
.dark .chroma .gh {
    font-weight: bold;
}

/* GenericInserted */
.dark .chroma .gi {
    color: #50fa7b;
    font-weight: bold;
}

/* GenericOutput */
.dark .chroma .go {
    color: #44475a;
}

/* GenericSubheading */
.dark .chroma .gu {
    font-weight: bold;
}

/* GenericUnderline */
.dark .chroma .gl {
    text-decoration: underline;
}