/* This CSS stylesheet defines the style of the lightbox feature (popover zoom when click on media content). Currently disabled. */


#lightbox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 999;
    line-height: 0;
    cursor: pointer;
    display: none;
}

#lightbox .img {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}

#lightbox .img img {
    opacity: 0;
    pointer-events: none;
    width: auto;
}

@media screen and (min-width: 1200px) {
    #lightbox .img {
        max-width: 1200px;
    }
}

@media screen and (min-height: 1200px) {
    #lightbox .img {
        max-height: 1200px;
    }
}

#lightbox span {
    display: block;
    position: fixed;
    bottom: 1rem;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#lightbox span {
    display: none;
}

#lightbox .videoWrapperContainer {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 900px;
    max-height: 100%;
}

#lightbox .videoWrapperContainer .videoWrapper {
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 50%; /* custom */
    background: black;
}

#lightbox .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}

#lightbox #prev, #lightbox #next {
    height: 3rem;
    line-height: 2rem;
    display: none;
    margin-top: -1.5rem;
    position: fixed;
    top: 50%;
    padding: 0 1rem;
    cursor: pointer;
    text-decoration: none;
    z-index: 99;
    color: white;
    font-size: 3rem;
}

#lightbox.gallery #prev, #lightbox.gallery #next {
    display: block;
}

#lightbox #prev {
    left: 0;
}

#lightbox #next {
    right: 0;
}

#lightbox #close {
    height: 3rem;
    width: 3rem;
    position: fixed;
    cursor: pointer;
    text-decoration: none;
    z-index: 99;
    right: 0;
    top: 0;
}

#lightbox #close:after, #lightbox #close:before {
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 1rem;
    content: "";
    height: 3px;
    background: white;
    width: 1.5rem;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /* Safari */
    -webkit-transform: rotate(-45deg);
    /* Firefox */
    -moz-transform: rotate(-45deg);
    /* IE */
    -ms-transform: rotate(-45deg);
    /* Opera */
    -o-transform: rotate(-45deg);
}

#lightbox #close:after {
    /* Safari */
    -webkit-transform: rotate(45deg);
    /* Firefox */
    -moz-transform: rotate(45deg);
    /* IE */
    -ms-transform: rotate(45deg);
    /* Opera */
    -o-transform: rotate(45deg);
}

#lightbox, #lightbox * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}