/* This CSS stylesheet defines the style of list pages (Homepage, sections such as News, Releases and Donate) */


/* .main.home,
.main.section {
} */


/* List page header and cover */

.list-header,
.hero-header {
    height: calc(var(--width) / 2);
    width: 100vw;
    margin: auto;
    padding: var(--gap);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: var(--gap);
    text-align: center;
    position: relative;
}

.list-header .entry-cover img,
.hero-header .entry-cover img {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.list-title,
.hero-title,
.list-description,
.hero-description,
.hero-button {
    z-index: 1;
}

.list-title .title,
.hero-title .hero,
.list-description .description,
.hero-description .description,
.hero-button a {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    max-width: calc(var(--width) - (4 * var(--gap)));
    color: var(--cover);
    background-color: var(--overlay);
    backdrop-filter: blur(0.3rem);
    border-radius: var(--radius);
}

.hero-title .hero {
    padding: 0.75rem 2rem 0.5rem;
    font-size: var(--xxl);
    line-height: 2rem;
    text-transform: capitalize;
    border: var(--line) solid var(--cover);
}

.hero-title .hero:hover {
    color: var(--link-hover-color);
    border: var(--border-hover);
}

.list-description .description,
.hero-description .description {
    font-size: var(--m);
}

.hero-button a {
    font-size: var(--m);
    border: var(--line) solid var(--cover);
}

.hero-button a:hover {
    color: var(--link-hover-color);
    border: var(--border-hover);
}

.inline-links a {
    font-weight: 500;
    color: var(--link-color);
    box-shadow: var(--link-underline-shadow);
}

.inline-links a:hover {
    color: var(--link-hover-color);
}

.inline-links span:not(:last-of-type):after {
    content: "·";
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
}


/* List page article entries */

.articles-list {
    background: var(--bg-linear);
    margin: auto;
    padding: var(--gap) var(--side);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    gap: calc(var(--gap) * 2);
}

.article-entry {
    width: clamp(18rem, 4rem + 17.5vw, 25rem);
    text-align: center;
    position: relative;
}

.article-entry figure {
    height: clamp(9rem, 2rem + 8.75vw, 12.5rem);
    background: var(--entry);
    border-radius: var(--radius);
    transition: var(--link-transition);
}

.article-entry:hover figure {
    filter: brightness(1.1) saturate(110%);
    transform: scale(1.02);
}

.article-entry:hover .entry-title,
.article-entry:hover .entry-description {
    color: var(--link-hover-color);
}

.article-entry a:active figure {
    transform: scale(0.95);
}

.article-entry .entry-cover img {
    border-radius: var(--radius);
    margin: auto;
    height: 100%;
    width: 100%;
}

.entry-date {
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    top: 0%;
}

.entry-date time {
    background-color: var(--overlay);
    backdrop-filter: blur(0.3rem);
    padding: 0.5rem;
    border-radius: var(--radius);
    color: var(--cover);
    font-size: var(--s);
}

.entry-title {
    font-size: var(--xl);
    margin: 1rem auto 0;
    transition: var(--link-transition);
}

.entry-description {
    color: var(--secondary);
    font-size: var(--m);
    overflow: hidden;
    text-overflow: ellipsis;
    transition: var(--link-transition);
}

.entry-isdraft {
    font-size: var(--s);
    color: var(--secondary);
}


/* List page footer */

.list-pagination {
    width: calc(var(--width) - (2 * var(--gap)));
    margin: auto;
    padding: 0 var(--gap) 0;
}

.list-pagination {
    display: flex;
    padding: 1rem 0;
}

.list-pagination a {
    padding: 0.5rem 1rem;
    background: var(--entry);
    border: var(--border);
    border-radius: 2rem;
    color: var(--secondary);
    font-size: var(--s);
}

.list-pagination a:hover {
    color: var(--link-hover-color);
    border: var(--border-hover);
}

.list-pagination .next {
    margin-inline-start: auto;
}