/* This CSS stylesheet defines the style for different media devices to have a responsive and fluid layout */

/* For small-screen devices such as smartphones */
@media screen and (max-width: 750px) {

    /* For fluid typography and layout */
    html {
        font-size: clamp(1rem, 5vw, 2.5rem);
    }


    /* Theme-vars */

    :root {
        --width: 100vw;
        --header-height: 4rem;
        --footer-height: 4rem;
        --radius: 0.5rem;
        --gap: 1rem;
        --s: 0.75rem;
        --m: 1rem;
        --l: 1.25rem;
        --xl: 1.5rem;
        --xxl: 2rem;
    }


    /* Navigation header */

    .site-nav {
    }

    .menu {
        order: 3;
    }

    .language-dropdown {
        order: 2;
    }

    #menu-list:popover-open,
    #lang-list:popover-open {
        right: var(--gap);
        width: calc(100vw - (2 * var(--gap)));
    }

    .theme-switch {
        order: 1;
        margin: auto 0;
    }


    /* List and Single pages */

    main header {
        height: calc(100vh - var(--header-height));
    }

    .buttons {
        flex-direction: column;
    }

    .single-content img {
        max-height: var(--width);
        width: 100%;
    }

    .block {
        padding: calc(2 * var(--gap)) var(--gap);
        flex-wrap: nowrap;
        gap: calc(2 * var(--gap));
        max-height: calc(2 * var(--width));
    }

    .block p:has(+ h2) {
        order: 3;
    }

    .block img:has(+ h2), .block img:not(:has(+ h2)), .block h2:not(:has(+ img)), .block p:has(+ h2), .block p:not(:has(+ h2)) {
        width: 100%;
    }

    .block img {
        margin: 0 auto;
    }

    .download-box .download svg {
        height: calc(1.5rem + (var(--width)/16));
    }


    /* Archive */

    .archive-month {
        flex-direction: column;
    }

    .archive-year {
        margin-top: 1rem;
    }
}


@media screen and (max-width: 1249px) {

    /* NOTE: horizontal navigation menu is hidden on "small-screen" desktops and tablets, vertical popover menu is displayed instead */

    #menu-list:popover-open,
    #lang-list:popover-open {
        right: var(--side);
    }

    .menu-list {
        display: none;
    }

    .menu-list a {
        text-align: center;
        padding: 0.5rem 1rem;
        display: block;
    }

    .menu-list #menu-active:not(.button) {
        background-color: var(--theme);
        border-radius: var(--radius);
        padding: 1rem;
        color: var(--primary);
        font-weight: 700;
        box-shadow: none;
    }

    .menu-list #menu-active:hover {
        color: var(--link-hover-color);
    }

    .articles {
        justify-content: space-evenly;
    }
}


/* For devices with medium and high screen resolutions such as desktops and laptops */
@media screen and (min-width: 1250px) {

    .menu-toggle {
        display: none;
    }
}

@media (prefers-reduced-motion) {
    .terms-tags a:active,
    .button:active,
    .share-buttons svg:active,
    article:active,
    .top-link {
        transform: none;
    }
}
