/* This CSS stylesheet defines the style for different media devices to have a responsive and fluid layout */

/* For small-screen devices such as smartphones */
@media screen and (max-width: 750px) {

    /* For fluid typography and layout */
    html {
        font-size: clamp(1rem, 5vw, 2.5rem);
    }


    /* Theme-vars */

    :root {
        --width: 100vw;
        --header-height: 4rem;
        --footer-height: 4rem;
        --radius: 0.5rem;
        --gap: 1rem;
        --s: 0.75rem;
        --m: 1rem;
        --l: 1.25rem;
        --xl: 1.5rem;
        --xxl: 2rem;
    }


    /* Navigation header */

    .site-nav {
    }

    .menu {
        order: 3;
    }

    .language-dropdown {
        order: 2;
    }

    #menu-list:popover-open,
    #lang-list:popover-open {
        right: var(--gap);
        width: calc(100vw - (var(--gap) * 2));
    }

    .theme-switch {
        order: 1;
        margin: auto 0;
    }

    .menu-list .button {
        line-height: normal;
    }


    /* List and Single pages */

    main header {
        height: calc(100vh - var(--header-height));
    }

    .title,
    .description,
    .single-meta {
        padding: 0rem;
    }

    .buttons {
        flex-direction: column;
        gap: 0;
    }

    .single-meta {
        flex-direction: column;
    }

    .content > :not(.block, .column) {
        padding: var(--gap) var(--side);
    }

    .content img:not([popover] img) {
        max-height: var(--width);
        width: 100%;
    }

    .content div[popover] {
        padding: 0;
    }

    .content [popover] img {
        max-height: 50vh;
        width: 100vw;
        max-width: 100vw;
        border-radius: 0;
    }

    .content .close {
        width: 3rem;
        height: 3rem;
    }

    .block {
        padding: calc(var(--gap) * 2) var(--gap);
        flex-wrap: nowrap;
        max-height: calc(var(--width) * 2);
    }

    .block h2,
    .block p,
    .block a:not(:has(svg)) {
        max-height: var(--width);
        width: calc(var(--width) - (var(--gap) * 2));
    }

    .block img:not([popover] img) {
        max-height: calc((var(--width) * 0.5) - var(--gap));
        width: calc(var(--width) - (var(--gap) * 2));
    }

    .block button {
        order: -1;
    }

    .download-box svg {
        height: calc(var(--width) * 0.125);
    }

    .download-box button {
        width: 4.25rem;
    }

    :is(#windows:has(#windows-arch:popover-open),
    #mac:has(#mac-arch:popover-open),
    #linux:has(#linux-arch:popover-open)) .arch-icon {
        width: 2rem;
    }


    /* Archive */

    .archive-month {
        flex-direction: column;
    }

    .archive-year {
        margin-top: 1rem;
    }
}


@media screen and (max-width: 1249px) {

    /* NOTE: horizontal navigation menu is hidden on "small-screen" desktops and tablets, vertical popover menu is displayed instead */

    #menu-list:popover-open,
    #lang-list:popover-open {
        right: var(--side);
    }

    .menu-list {
        display: none;
    }

    .menu-list a {
        text-align: center;
        margin: 0.5rem;
        padding: 0;
        display: inline-block;
    }

    .menu-list .menu-active:not(.button) {
        margin: 0.5rem;
        padding: 0;
        color: var(--primary);
        font-weight: 700;
        box-shadow: 0 var(--line)0 var(--primary);
    }

    .menu-list .menu-active:hover {
        color: var(--link-hover-color);
        box-shadow: var(--link-hover-underline-shadow);
    }
}


/* For devices with medium and high screen resolutions such as desktops and laptops */
@media screen and (min-width: 1250px) {

    .menu-toggle {
        display: none;
    }
}

@media (prefers-reduced-motion) {
    .terms a:active,
    .button:active,
    .share-buttons svg:active,
    article:active,
    #top-link {
        transform: none;
    }
}
