/* This CSS stylesheet defines the style of Single pages and List pages (Homepage, sections such as News, Releases and Donate) */

/* List and Single page header and cover */

main header {
    height: calc(var(--width) / 2);
    width: 100vw;
    margin: auto;
    padding: var(--gap);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: var(--gap);
    text-align: center;
    position: relative;
}

.title,
.description,
.download-box,
.single-meta,
.hero-button {
    z-index: 1;
}

.single-meta {
    position: absolute;
    bottom: 2rem;
}

.title,
.description,
.download-box .release,
.download-box .date,
.single-meta,
.hero-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    max-width: calc(var(--width) - (4 * var(--gap)));
    color: var(--cover);
    text-shadow: var(--shadow);
}

.title {
    text-transform: capitalize;
}

.description {
    font-weight: 400;
}

.buttons {
    display: flex;
    gap: var(--gap);
    z-index: 1;
}

.hero-button {
    padding: 0.75rem 1.5rem;
    font-size: var(--m);
    background-color: var(--link-color);
    border-radius: var(--radius);
    transition: var(--link-transition);
}

.hero-button a {
    color: var(--cover);
}

.hero-button:hover {
    background-color: var(--link-hover-color);
}

.hero-button.download {
    background-color: rgb(64, 64, 64);
}

.hero-button.download:hover {
    background-color: rgb(32, 32, 32);
}

.single-meta {
    background: var(--overlay);
    border-radius: var(--radius);
    font-size: var(--s);
}

.single-meta a {
    color: var(--cover);
}

.meta-item {
    display: inline-block;
}

.meta-item:not(:last-of-type):after {
    content: "·";
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
}

.meta-item svg {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: -0.2rem;
}

.meta-item a {
}

.meta-item a:hover {
    color: var(--link-hover-color);
}

.meta-item .tags a:not(:last-of-type) {
    margin-inline-end: 0.5rem;
}

.meta-item .tags a:not(:last-of-type):after {
    content: ",";
}

main header .entry-cover img {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}


/* List page article entries */

.articles {
    background: var(--bg-linear);
    margin: auto;
    padding: calc(2 * var(--gap)) var(--side);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    gap: calc(var(--gap) * 2);
}

.articles article {
    width: clamp(18rem, 4rem + 17.5vw, 25rem);
    text-align: center;
    position: relative;
}

.articles article figure {
    height: clamp(9rem, 2rem + 8.75vw, 12.5rem);
    background: var(--entry);
    border-radius: var(--radius);
    transition: var(--link-transition);
}

.articles article:hover figure {
    filter: brightness(1.1) saturate(110%);
    transform: scale(1.02);
}

.articles article:hover .entry-title,
.articles article:hover .entry-description {
    color: var(--link-color);
}

.articles article a:active figure {
    transform: scale(0.95);
}

.articles article .entry-cover img {
    border-radius: var(--radius);
    margin: auto;
    height: 100%;
    width: 100%;
}

.entry-date {
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    top: 0%;
}

.entry-date time {
    background-color: var(--overlay);
    backdrop-filter: blur(0.3rem);
    padding: 0.5rem;
    border-radius: var(--radius);
    color: var(--cover);
    font-size: var(--s);
}

.entry-title {
    margin: 1rem auto 0;
    transition: var(--link-transition);
}

.entry-description {
    color: var(--secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    transition: var(--link-transition);
}

.entry-isdraft {
    font-size: var(--s);
    color: var(--secondary);
}


/* Single page content */

.content {
    font-size: var(--m);
    color: var(--secondary);
}

.content > :not(.block, .column) {
    padding: var(--gap) var(--side);
    text-align: justify;
}

.content h1 {
    margin: 2rem auto 2rem;
}

.content :is(h2, h3) {
    margin: 1.5rem auto 1.5rem;
}

.content :is(h4, h5, h6) {
    margin: 1rem auto 1rem;
}

.heading-anchor {
    position: absolute;
    margin-left: 0.25rem;
    width: 0.75em;
    min-width: 0.75rem;
    opacity: 0;
  }

:is(h1, h2, h3, h4, h5, h6):hover .heading-anchor {
    opacity: 1;
}

.content a {
    color: var(--link-color);
}

.content a:hover {
    color: var(--link-hover-color);
}

.content a.anchor:hover {
    color: var(--link-hover-color);
}

.content a code {
    margin: auto 0;
    background-color: var(--entry);
    border-radius: 0;
}

.content a:hover code {
    color: var(--link-hover-color);
}

h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor,
h5 .anchor,
h6 .anchor {
    box-shadow: none;
    user-select: none;
    font-size: 0.5rem;
    position: relative;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    color: var(--secondary);
    margin-inline-start: 0.5rem;
    display: inline-flex;
}

.content del {
    text-decoration: none;
    background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0 50%/1px 1px repeat-x;
}

.content dl,
.content ol,
.content p,
.content figure,
.content ul {
    margin: 1rem auto 1rem;
}

.content li > ol,
.content li > ul {
    margin-bottom: 0;
}

.content li {
    margin-top: 0.5rem;
}

.content li p {
    margin-bottom: 0.5rem;
}

.content dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.content dt {
    width: 25%;
    font-weight: 700;
}

.content dd {
    width: 75%;
    margin-inline-start: 0;
    padding-inline-start: 0.5rem;
}

.content dd ~ dd,
.content dt ~ dt {
    margin-top: 1rem;
}

.content table {
    margin-bottom: 2rem;
}

.content table th,
.content table:not(.highlighttable, .highlight table, .gist .highlight) td {
    min-width: 5rem;
    padding: 0.5rem 1rem;
    border-bottom: var(--border);
}

.content table th {
    font-size: var(--s);
    text-align: start;
}

.content table:not(.highlighttable) td code:only-child {
    margin: auto 0;
}

.content .highlight table {
    border-radius: var(--radius);
}

.content .highlight:not(table) {
    margin: 1rem auto;
    border-radius: var(--radius);
}

.content li > .highlight {
    margin-inline-end: 0;
}

.content ul pre {
    margin-inline-start: calc(var(--gap) * -2);
}

.content .highlight pre {
    margin: 0;
}

.content .highlighttable {
    table-layout: fixed;
}

.content .highlighttable td:first-child {
    width: 2rem;
}

.content .highlighttable td .linenodiv {
    padding-inline-end: 0 !important;
}

.content .highlighttable td .highlight,
.content .highlighttable td .linenodiv pre {
    margin-bottom: 0;
}


/* Single page Code */

.copy-code {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--entry);
    background: var(--tertiary);
    border-radius: var(--radius);
    padding: 0 1rem;
    font-size: var(--s);
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

div.highlight,
pre {
    position: relative;
}

.content .chroma {
    border-radius: var(--radius);
    background-color: var(--entry);
}

.content code {
    background-color: var(--entry);
    margin: 0 0.25rem;
    padding: 0.25rem 0.25rem;
    border-radius: 0.25rem;
    font-size: var(--m);
    font-family: var(--monospace);
    direction: ltr;
}

.content pre code {
    /* reset inline code */
    display: block;
    margin: auto 0;
    padding: 1rem;
    overflow-x: auto;
    border-radius: var(--radius);
    word-break: break-all;
    font-family: var(--monospace);
}

.content .chroma code {
    background-color: inherit;
    font-family: var(--monospace);
}

.content blockquote {
    margin: 1rem 0;
    padding: 0 1rem;
    border-inline-start: var(--line) solid var(--entry);
}

.content sup {
}

.content sup a {
    box-shadow: none;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--link-hover-color);
}

.content sup a:hover {
    color: var(--link-hover-color);

}

.content sup a:before {
    content: " [";
}

.content sup a:after {
    content: "]";
}

.content sup:target {
    padding: 0.5rem;
    background-color: var(--theme);
    border-radius: var(--radius);
}

.content hr {
    height: var(--line);
    background: var(--entry);
}

.content iframe {
    max-width: 100%;
}


/* Single page figures, images and videos */

.content img {
    display: block;
    max-width: 100%;
    height: calc(var(--width) / 2);
    border-radius: var(--radius);
    margin: var(--gap) auto;
    transition: var(--link-transition);
}

.content video {
    width: 100%;
}

.content figure.align-center {
    text-align: center;
}

.content figure > figcaption {
    color: var(--primary);
    font-size: var(--m);
    margin: 0.5rem 0 1rem;
}

.content figure > figcaption > p {
    color: var(--secondary);
    font-size: var(--m);
}

.content a img:hover {
    filter: brightness(1.1) saturate(110%);
    transform: scale(1.02);
}

/* Single page Blocks (defined in-between +++ in Markdown files) */

.block {
    padding: var(--gap) var(--side);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    gap: var(--gap);
    max-height: calc((var(--width) / 4) + (var(--gap) * 4));
    text-align: center;
}

#N1.block, #N4.block, #N7.block {
    background: var(--entry);
}

#N2.block, #N5.block #N8.block {
    background: var(--theme);
}

#N3.block, #N6.block #N9.block {
    background: var(--bg-grid-s);
}

/* Tricks to have 2 side-by-side columns */
.block img:has(+ h2), .block img:not(:has(+ h2)), .block p:has(+ h2) {
    width: calc((var(--width) / 2) - (var(--gap) * 2));
}

.block h2:not(:has(+ img)), .block p:not(:has(+ h2)) {
    width: calc((var(--width) / 2) - (var(--gap) * 2));
}

.column {
    background-color: crimson;
}

.block p,
.block h2 {
    margin: 0 auto;
}

.block p {
    text-align: justify;
    text-align-last: center;
}

.block img {
    max-height: calc((var(--width)/4) - (2 * var(--gap)));
    margin: calc(var(--gap) * 2) auto;
}


/* Download box */

.download-box p {
    margin: 0 auto 1rem;
}

.download-box .release {
    font-size: var(--m);
    background: var(--link-color);
    border-radius: var(--radius);
    transition: var(--link-transition);
}

.download-box .release:hover {
    background: var(--link-hover-color);
}

.download-box .date {
    font-size: var(--s);
}

.download-box .download {
    width: calc(var(--width) / 1.5);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: var(--gap);
}

.download-box svg {
    color: var(--cover);
    height: calc(2rem + (var(--width)/32));
    transition: var(--link-transition);
}

.download-box svg:hover {
    color: var(--link-hover-color);
    transform: scale(1.05);
}

.download-box svg:active {
    transform: scale(0.90);
}

.download-release {
    margin: auto;
    padding: var(--gap) var(--side);
    text-align: center;
}

.download-release .download-box .release {
    background: var(--link-color);
}

.download-release .download-box .release:hover {
    background: var(--link-hover-color);
}

.download-release .date {
    color: var(--secondary);
}

.download-release svg {
    color: var(--secondary);
}

.download-release svg:hover {
    color: var(--link-hover-color);
}


/* List page footer */

.list-pagination {
    display: flex;
    margin: auto;
    padding: var(--gap) var(--side);
    font-size: var(--s);
}

.list-pagination a {
    padding: 0.75rem 1.5rem;
    color: var(--cover);
    background: var(--link-color);
    border-radius: 2rem;
    text-transform: capitalize;
}

.list-pagination a:hover {
    background: var(--link-hover-color);
}

.list-pagination .next {
    margin-inline-start: auto;
}


/* Single page footer */

.single-footer {
    padding: 0;
}

.share-buttons {
    margin: 1rem 0;
    padding-inline-start: var(--radius);
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.share-buttons a:not(:last-of-type) {
    margin-inline-end: 1rem;
}

.share-buttons a svg {
    height: 2rem;
    width: 2rem;
    fill: currentColor;
}

.share-buttons svg:active {
    transform: scale(0.95);
    transition: var(--link-transition);
}


/* Pagination links to next and previous pages */

.single-pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: var(--gap) var(--side);
    text-align: center;
    gap: var(--gap);
}

.single-pagination .next, .single-pagination .prev {
    flex: 0 0 auto;
    transition: var(--link-transition);
    font-size: var(--s);
}

.single-pagination .next, [dir="rtl"] .single-pagination .prev {
    text-align: right;
}

[dir="rtl"] .single-pagination .next, .single-pagination .prev {
    text-align: left;
}

.single-pagination a {
    padding: 0.75rem 1.5rem;
    color: var(--cover);
    background: var(--link-color);
    border-radius: 2rem;
    text-transform: capitalize;
}

.single-pagination a:hover {
    background: var(--link-hover-color);
}

.top-link {
    z-index: 2;
    height: 3rem;
    width: 3rem;
    padding: 0.75rem 0 !important;
    transition: visibility 0.3s ease, opacity 0.3s ease;
    font-size: var(--l);
}

.top-link:hover {
    color: var(--entry);
}

.full-width {
    position: relative;
    left: 50%;
    right: 50%;
    margin-inline: -50vw;
    margin-inline-end: -50vw;
    max-width: 100vw;
    width: 100vw;
}

mark {
    color: var(--entry);
    padding: 0.2rem 0.4rem;
    border-radius: var(--radius);
    background: var(--tertiary);
}


/* Shortcode */


/* Footnotes */

.footnotes {
    padding: 1rem;
    background-color: var(--entry);
    border-radius: var(--radius);
    color: var(--tertiary);
    font-size: var(--s);
}

.footnotes a {
    color: var(--tertiary);
}

.footnotes hr {
    display: none;
}

.footnotes a {
    color: var(--link-color);
}

.footnotes a:hover {
    box-shadow: var(--link-hover-underline-shadow);
}

.footnotes ol {
    margin: 0;
}

.footnotes ol li {
    margin: 0 0 0.5rem 0;
}

.footnotes ol li p {
    margin: 0;
}

/* Fix li markers sink at the bottom */
.footnotes ol li > * {
    vertical-align: top;
}

.footnotes ol li:target {
    padding: 0.5rem;
    background-color: var(--theme);
    border-radius: var(--radius);
}

.footnotes ol:before {
    content: "Footnotes";
    font-size: var(--l);
    margin-inline: -1rem;
}
