/* This CSS stylesheet defines the general variables (e.g. dimensions, colors, font) for both Light and Dark chroma. For the text in code blocks, go to highlight.css */


:root {
    --width: clamp(48rem, 24rem + 50vw, 84rem);
    --header-height: 4rem;
    --footer-height: 4rem;
    --radius: 0.5rem;
    --gap: 1rem;
    --line: 0.125rem;
    --side: calc(((100vw - var(--width)) / 2) + var(--gap));
    --monospace: "Lucida Console", Monaco, "Consolas", monospace;

    --theme: rgb(240, 240, 240);
    --entry: rgb(255, 255, 255);
    --cover: rgb(224, 224, 224);
    --tone: rgb(128, 128, 128);
    --primary: rgb(32, 32, 32);
    --secondary: rgb(64, 64, 64);
    --tertiary: rgb(96, 96, 96);
    --overlay: rgba(0, 0, 0, 0.2);

    --link-color: #b40000;
    --link-hover-color: #007dc5;
    --link-underline-shadow: 0 var(--line) 0 var(--link-color);
    --link-hover-underline-shadow: 0 var(--line) 0 var(--link-hover-color);
    --link-transition: all 0.3s ease-in-out;

    --border: var(--line) solid var(--tone);
    --border-hover: var(--line) solid var(--link-hover-color);

    --shadow-color: 0deg 0% 0%; /* Not used currently */

/* Variables for text sizes: small (terms, footnotes), medium (normal text), large (h3), extra large (h2), extra extra large (h1) */
    --s: 0.75rem;
    --m: 1rem;
    --l: 1.25rem;
    --xl: 1.5rem;
    --xxl: 2rem;

/* Variables for backgrounds */
    --bg-linear: linear-gradient(var(--entry), var(--theme));
    --bg-grid-s: repeating-linear-gradient(90deg, var(--entry) 0 1px, transparent 0 8px),
                 repeating-linear-gradient(180deg, var(--entry) 0 1px, transparent 0 8px);
    --bg-grid-m: repeating-linear-gradient(90deg, var(--entry) 0 1px, transparent 0 16px),
                 repeating-linear-gradient(180deg, var(--entry) 0 1px, transparent 0 16px);

}


/* If changing Dark chroma values, do not forget to update them in layouts/partials/head.html as well */

.dark {
    --theme: rgb(32, 32, 32);
    --entry: rgb(64, 64, 64);
    --primary: rgb(240, 240, 240);
    --secondary: rgb(224, 224, 224);
    --tertiary: rgb(208, 208, 208);

    --link-color: #f00000;
    --link-underline-shadow: 0 var(--line) 0 var(--link-color);

    /* Variables for backgrounds */
    --bg-linear: linear-gradient(var(--entry), var(--theme));
    --bg-grid-s: repeating-linear-gradient(90deg, var(--entry) 0 1px, transparent 0 8px),
                 repeating-linear-gradient(180deg, var(--entry) 0 1px, transparent 0 8px);
    --bg-grid-m: repeating-linear-gradient(90deg, var(--entry) 0 1px, transparent 0 16px),
    repeating-linear-gradient(180deg, var(--entry) 0 1px, transparent 0 16px);
}

@font-face {
    font-family: 'Evolventa';
    /* NOTE: Remove subdirectory path bit "FreeCAD-website" when migrating away from GH Pages. */
    src: url('/FreeCAD-website/fonts/Evolventa-Regular.woff2') format('woff2'),
         url('/FreeCAD-website/fonts/Evolventa-Regular.woff') format('woff'),
         url('/FreeCAD-website/fonts/Evolventa-Regular.ttf') format('truetype'),
         url('/FreeCAD-website/fonts/Evolventa-Regular.svg#Evolventa-Regular') format('svg');
}