{{/* Allows to set custom CSS style and a class for content headings, and display an anchor next to it. */}}
{{ $class := index .Attributes "class" }}
{{ $style := index .Attributes "style" }}
<h{{ .Level }} id="{{ .Anchor | safeURL }}"
    {{ if ne $class nil }} class="{{ $class }}" {{ end }}
    {{ if ne $style nil }} style="{{ $style }}" {{ end }}>
    {{- .Text | safeHTML -}}
    <a class="heading-anchor" href="#{{ .Anchor | safeURL }}">
        <svg viewBox="0 0 24 24" width="100%" height="100%" stroke="currentcolor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <title>Link to this heading</title>
            <path d="M15 7h3a5 5 0 015 5 5 5 0 01-5 5h-3m-6 0H6a5 5 0 01-5-5 5 5 0 015-5h3"></path>
            <line x1="8" y1="12" x2="16" y2="12"></line>
        </svg>
    </a>
</h{{ .Level }}>